<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Homer Simpson</title>
  <meta name="description" content="The best Homer Simpson image">
  <meta name="author" content="Not Homer Simpson">
</head>

<body>
  <div class="container">
      <h4>Homer Simpson</h4>
      <img src="{{ url }}" /><br />
      Image obtained from <a href="http://pngimg.com/">pngimg.com</a>, under <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons 4.0 BY-NC</a> license.
  </div>
</body>
</html>
